* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Fallback, sans-serif;
}

body {
    overflow: hidden;
    position: absolute;
}

/* main-wrapper */
.main-wrapper {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(180deg ,#dddbd1 ,#d2dbdc);
    position: relative;
}
.main-wrapper::after {
    content: "";
    height: 127px;
    width: 100%;
    background-color: #009688;
    position: fixed;
    top: 0;
    left: 0;
}

/* app-wrapper */
.app-wrapper {
    height: 95vh;
    width: 75vw;
    box-shadow: 0 1px 1px 0 rgba(0 ,0 ,0 , .06), 0 2px 5px 0 rgba(0 ,0 ,0, .2);
    z-index: 1;
}

/* contacts-box */
.contacts-box {
    flex: 30%;
    overflow: hidden;
}

/* shared */
.message-box,
.stay-connected-phone {
    flex: 70%;
    overflow: hidden;
}
.profile,
.finder-box,
.msg-info-contact {
    height: 55px;
}
.profile,
.message-box .msg-info-contact {
    background-color: #ededed;
    padding: 6px 16px;
}
.profile .user-avatar img,
.msg-info-contact .msg-info-contact-avatar img,
.contacts-box .contacts-list .contact .contact-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}
.profile .user-extra span svg,
.contacts-box .finder-box .finder span svg,
.message-box .msg-info-contact-extra span svg,
.message-box .msg-input span svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.profile .user-extra span:not(:first-child),
.message-box .msg-info-contact-extra span:not(:first-child) {
    margin-left: 25px;
}
.contacts-box .finder-box .finder input,
.contacts-box .finder-box .finder span {
    margin-left: 20px;
}
.contacts-box .finder-box .finder input::placeholder,
.message-box .msg-input input::placeholder {
    color: #bfbfbf;
}
.contact .contact-info .contact-last-message .chevron,
.message .message-top .chevron-msg {
    width: 18px;
    height: 18px;
}
.message-box,
.stay-connected-phone {
    border-left: 1px solid lightgray;
}

/* enable-notify-box */
.contacts-box .enable-notify-box {
    background-color: #9de1fe;
    padding: 13px 12px 14px 13px;
    cursor: pointer;
}
.contacts-box .enable-notify-box:hover p:last-child {
    text-decoration: underline;
}
.contacts-box .enable-notify-box span {
    width: 48px;
    height: 48px;
}
.contacts-box .enable-notify-box .notify-right p {
    padding-left: 10px;
    font-size: 16px;
}
.contacts-box .enable-notify-box .notify-right p:last-child {
    font-size: 14px;
}
.contacts-box .enable-notify-box .notify-right p span {
    padding-left: 3px;
    width: 8px;
    height: 12px;
    vertical-align: middle;
}

/* finder-box */
.contacts-box .finder-box {
    background-color: #f8f8f8;
}
.contacts-box .finder-box .finder {
    width: 95%;
    height: 80%;
    border-radius: 2rem;
    background-color: #FFF;
}
.contacts-box .finder-box .finder input {
    width: 70%;
    height: 20px;
    background-color: #FFF;
    border: none;
    outline-style: none;
}

/* contacts-list */
.contacts-box .contacts-list {
    height: 100%;
    background-color: #FFF;
    overflow-y: auto;
}
.contacts-box .contacts-list .contact {
    height: 72px;
    cursor: pointer;
}
.contact .contact-avatar {
    padding: 0 15px;
}
.contacts-box .contacts-list .contact .contact-avatar img {
    width: 50px;
    height: 50px;
}
.contact .contact-info {
    border-bottom: 1px solid #f2f2f2;
    padding-right: 15px;
    width: 100%;
    height: 100%;
}
.contact .contact-info .contact-name small {
    font-size: 12px;
    color: rgba(0, 0, 0, .45);
}
.contact .contact-info .contact-name h4 {
    font-weight: normal;
    font-size: 17px;
}
.contact .contact-info .contact-last-message p {
    font-size: 14px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(0, 0, 0, .6);
}

/* stay-connected-phone */
.stay-connected-phone {
    background-color: #f8f9fa;
    border-bottom: 6px solid #4adf83;
    cursor: default;
}
.stay-connected-phone .connected-phone-content {
    max-width: 460px;
    width: 80%;
    text-align: center;
}
.stay-connected-phone .connected-phone-content h2 {
    margin-top: 38px;
    font-size: 32px;
    font-weight: 300;
    color: rgba(82 ,82 ,82 , .45);
}
.stay-connected-phone .connected-phone-content p {
    font-size: 14px;
    color: rgba(0 ,0 ,0 , .45);
    margin-top: 34px;
}
.stay-connected-phone .connected-phone-content p:first-of-type {
    margin-top: 24px;
    padding-bottom: 34px;
    border-bottom: 1px solid rgba(0 ,0 ,0 , .08);
}
.stay-connected-phone .connected-phone-content p a {
    color: #07bc4c;
    cursor: pointer;
    text-decoration: none;
}
.stay-connected-phone .connected-phone-content span {
    width: 21px;
    height: 18px;
    margin-right: 5px;
    cursor: default;
}

/* message-box */
.message-box .msg-info-contact {
    border-bottom: 1px solid rgba(0 ,0 ,0 , .08);
}
.message-box .msg-info-contact .msg-info-contact-name h4 {
    padding-left: 10px;
    font-size: 16px;
    font-weight: normal;
}
.message-box .msg-conversation {
    background-image: url("../img/background_conversation.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 9%;
    width: 100%;
    height: 100%;
}
.message-box .msg-input {
    width: 100%;
    background-color: #EDEDED;
    height: 62px;
}
.message-box .msg-input span {
    margin: 0 20px;
}
.message-box .msg-input span:first-of-type {
    margin-right: 0;
}
.message-box .msg-input input {
    width: 100%;
    height: 42px;
    background-color: #FFF;
    border: none;
    outline-style: none;
    border-radius: 2rem;
    margin-left: 20px;
    padding-left: 10px;
}
.message-box .msg-input input[type="text"] {
    font-size: 15px;
}

/* webkit-scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0 ,0 ,0 , .2);
}

/* ******************* */
.hidden {
    display: none;
}
/* ******************* */
.contact-mouseenter {
    background-color: rgb(245, 245, 245);
}
.contact-mouseleave {
    background-color: rgba(0, 0, 0, 0);
}
.contact-click {
    background-color: rgb(235, 235, 235);
}

/* message */
.message {
    min-width: 80px;
    max-width: 70%;
    padding: 5px 5px;
    margin: 1px;
    border-radius: 7.5px;
    box-shadow: 0 1px .5px rgba(0 ,0 ,0 , .13);
}
.message:first-child {
    margin-top: 20px;
}
.message:last-child {
    margin-bottom: 20px;
}
.message .message-top {
    position: relative;
}
.message .message-top p {
    word-wrap: break-word;
    padding: 0 30px 0 10px;
    font-size: 14.2px;
}
.message .message-top .chevron-msg {
    cursor: pointer;
    position: absolute;
    top: -3px;
    right: 0;
}
.message-bottom {
    text-align: right;
    font-size: 11px;
    color: rgb(173, 173, 173);
    margin: -10px 0 -5px 5px;
}
.msg-sent {
    float: right;
    clear: both;
    background-color: #D1EBBC;
}
.msg-received {
    float: left;
    clear: both;
    background-color: #FFF;
}

/* dropdown */
.dropdown-message-wrapper {
    position: absolute;
    z-index: 10;
}
.dropdown-message {
    display: inline-block;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0 ,0 ,0 , .26), 0 2px 10px 0 rgba(0 ,0 ,0 , .16);
    padding: 9px 0;
    text-align: left;
}
.dropdown-message ul li {
    padding: 13px 24px 0 24px;
    cursor: pointer;
    color: rgba(0, 0, 0, .5);
    font-size: 14.5px;
    font-style: italic;
    height: 40px;
}
.dropdown-message ul li:last-of-type {
    color: #4a4a4a;
    font-style: normal;
}
.dropdown-message ul li:hover {
    background-color: rgb(245, 245, 245);
}
/* *************************************************************** */
@font-face {
    font-family: Segoe UI;
    src:
        local("Segoe UI"),
        url('http://c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2') format("woff2");
}
@media only screen and (max-width: 1200px) {
    .main-wrapper .app-wrapper{
        width: 100vw;
        height: 100vh;
    }
    .contacts-box {
        flex: 35%;
    }
    .message-box,
    .stay-connected-phone {
        flex: 65%;
    }
}
