* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Fallback, sans-serif;
}

body {
    overflow: hidden;
}

span {
    width: 24px;
    height: 24px;
}

.main-wrapper {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(180deg ,#dddbd1 ,#d2dbdc);
    position: relative;
}

.main-wrapper::after {
    content: "";
    height: 127px;
    width: 100%;
    background-color: #009688;
    position: fixed;
    top: 0;
    left: 0;
}

.app-wrapper {
    height: 95vh;
    width: 72.5vw;
    box-shadow: 0 1px 1px 0 rgba(0 ,0 ,0 , .06), 0 2px 5px 0 rgba(0 ,0 ,0, .2);
    z-index: 1;
}

.contacts-box,
.message-box {
    width: 100%;
}

.contacts-box {
    flex: 42.5%;
}

.profile,
.finder-box,
.msg-info-contact,
.message-box .msg-input {
    height: 55px;
}

.profile,
.message-box .msg-info-contact {
    background-color: #ededed;
    padding: 6px 16px;
}

.profile .user-avatar img,
.msg-info-contact .msg-info-contact-avatar img,
.contacts-box .contacts-list .contact .contact-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.profile .user-extra span svg,
.contacts-box .finder-box .finder span svg,
.message-box .msg-info-contact-extra span svg
.message-box .msg-input-box .msg-input span svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.profile .user-extra span:not(:first-child),
.message-box .msg-info-contact-extra span:not(:first-child) {
    margin-left: 25px;
}

.contacts-box .enable-notify-box {
    background-color: #9de1fe;
    padding: 13px 12px 14px 13px;
    cursor: pointer;
}

.contacts-box .enable-notify-box:hover p:last-child {
    text-decoration: underline;
}

.contacts-box .enable-notify-box span {
    width: 48px;
    height: 48px;
}

.contacts-box .enable-notify-box .notify-right p {
    padding-left: 10px;
    font-size: 16px;
}

.contacts-box .enable-notify-box .notify-right p:last-child {
    font-size: 14px;
}

.contacts-box .enable-notify-box .notify-right p span {
    padding-left: 3px;
    width: 8px;
    height: 12px;
    vertical-align: middle;
}

.contacts-box .finder-box {
    background-color: #f8f8f8;
}

.contacts-box .finder-box .finder {
    width: 95%;
    height: 80%;
    border-radius: 2rem;
    background-color: #FFF;
}

.contacts-box .finder-box .finder span {
    margin-left: 20px;
}

.contacts-box .finder-box .finder input {
    width: 220px;
    height: 20px;
    background-color: #FFF;
    border: none;
    outline-style: none;
    margin-left: 20px;
}

.contacts-box .finder-box .finder input::placeholder,
.message-box .msg-input-box .msg-input input::placeholder {
    color: #bfbfbf;
}

.contacts-box .contacts-list {
    height: 100%;
    background-color: #FFF;
    overflow-y: auto;
}

.contacts-box .contacts-list .contact {
    height: 72px;
    background-color: rgba(0, 0, 0, 0);
    padding-right: 15px;
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
}

.contacts-box .contacts-list .contact .contact-avatar {
    padding: 0 15px;
}

.contacts-box .contacts-list .contact .contact-avatar img {
    width: 50px;
    height: 50px;
}

.contacts-box .contacts-list .contact .contact-info {
    width: 100%;
}

.contacts-box .contacts-list .contact .contact-info .contact-name small {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.45);
}

.contacts-box .contacts-list .contact .contact-info .contact-name h4 {
    font-weight: normal;
    font-size: 17px;
}

.contacts-box .contacts-list .contact .contact-info .contact-last-message p {
    font-size: 14px;
    color: rgba(0, 0, 0, .6);
}

.contacts-box .contacts-list .contact .contact-info .contact-last-message .chevron {
    width: 18px;
    height: 18px;
}

/* --- */

.message-box .msg-info-contact {
    background-color: #EDEDED;
}

.message-box .msg-info-contact .msg-info-contact-name h4 {
    padding-left: 10px;
    font-size: 14px;
    font-weight: normal;
}

.message-box {
    border-left: 1px solid lightgrey;
}

.message-box .msg-conversation {
    background-image: url("../img/background_conversation.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    overflow-y: auto;
}

.message-box .msg-conversation::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.message-box .msg-conversation::-webkit-scrollbar-thumb {
    background-color: rgba(0 ,0 ,0 , .2);
}

.message-box .msg-input-box {
    background-color: #EDEDED;
}

.message-box .msg-input-box .msg-input span {
    margin: 0 20px;
}

.message-box .msg-input-box .msg-input span:first-of-type {
    margin-right: 0;
}

.message-box .msg-input-box .msg-input input {
    width: 100%;
    height: 35px;
    background-color: #FFF;
    border: none;
    outline-style: none;
    border-radius: 2rem;
    margin-left: 20px;
    padding-left: 10px;
}

.message-box .msg-conversation {
    padding: 0 9%;
}

/* *************************************************** */
.hidden,
.template {
    display: none;
}

.message {
    min-width: 80px;
    padding: 5px 5px;
    margin: 1px;
    border-radius: 5px;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.message:first-child {
    margin-top: 20px;
}

.message:last-child {
    margin-bottom: 20px;
}

.message .message-top {
    position: relative;
}

.message .message-top p {
    padding: 0 30px 0 10px;
    font-size: 14.2px;
}

.message .message-top .chevron {
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: absolute;
    top: -3px;
    right: 0;
}

.message-bottom {
    text-align: right;
    font-size: 11px;
    color: rgb(173, 173, 173);
    margin: -10px 0 -5px 5px;
}

.msg-sent {
    float: right;
    clear: both;
    background-color: #D1EBBC;
}

.msg-received {
    float: left;
    clear: both;
    background: #FFF;
}

/* *************************************************************** */
@font-face {
    font-family: Segoe UI;
    src:
        local("Segoe UI"),
        url('http://c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2') format("woff2");
}

@media only screen and (max-width: 900px) {
    .main-wrapper .app-wrapper{
        width: 100vh;
        height: 100vh;
    }
}
